{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/header.html' %}

<body>
    <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>
    <h1 align="center" style="padding-top: 250px; color: aliceblue;">
        <p> خوش آمدید </p>
        <p style="color: aqua;"> {{ request.user.username }} </p>
    </h1>
    {% if flag %}
        <div class="start_btn">
            <button>شروع آزمون</button>
            <!-- برای خروج از حساب کاربری -->
            <!-- <a class="btn btn-danger" href="{% url 'logout_view' %}">خروج از حساب کاربری</a> -->
        </div>
    {% else %}
        <div class="start_btn">
            <a class="restart" href="{% url 'result_page' %}?fullname={{ request.user.username }}">مشاهده نتیجه</a>
        </div>
    {% endif %}

    <div class="info_box">
        <div class="info-title"><span>قوانین آزمون</span></div>
        <div class="info-list">
            <div class="info">1. شما در کل برای هر سوال <span>60 ثانیه </span> زمان دارید .</div>
            <div class="info">2. هر سوال 10 امتیاز داره .</div>
            <div class="info">3. براساس انتخاب های صحیح شما امتیازتون برآورد میشه .</div>
            <div class="info">4. وقتی زمان به پایان برسه دیگه امکان انتخاب کردن ندارید .</div>
            <div class="info">5. زمانی که آزمون شروع شود امکان خارج شدن ندارید .</div>
            <div class="info">6. سوال های نزده هم به عنوان غلط برآورد میشوند .</div>
            <div class="info">7. هر کاربر فقط یکبار میتونه آزمون بده .</div>
        </div>
        <div class="buttons">
            <button class="quit">خروج</button>
            <button class="restart">ادامه</button>
        </div>
    </div>

    <div class="quiz_box">
        <header>
            <div class="title">{{ request.user.username.capitalize }}</div>
            <div class="timer">
                <div class="time_left_txt">زمان باقیمانده</div>
                <div class="timer_sec"></div>
            </div>
        </header>
        <section class="scroller">
            <form method="post">
                {% csrf_token %}
                {% for q in questions %}
                    {% if q.status %}
                        <div class="que_text">
                            <div align="right">
                                {% if q.scale == 1 %}
                                    <span style="background-color: green;">آسان</span>
                                {% elif q.scale == 2 %}
                                    <span style="background-color: yellow;">متوسط</span>
                                {% elif q.scale == 3 %}
                                    <span style="background-color: red;">سخت</span>
                                {% endif %}
                            </div>
                            <span>{{ q.question }}</span>
                        </div>
                        <div class="option_list">
                            <div class="option"><input type="radio" name="{{ q.question }}" id="radios"
                                                    value="option1">{{ q.option1 }}</div>
                            <div class="option"><input type="radio" name="{{ q.question }}" id="radios"
                                                    value="option2">{{ q.option2 }}</div>
                            <div class="option"><input type="radio" name="{{ q.question }}" id="radios"
                                                    value="option3">{{ q.option3 }}</div>
                            <div class="option"><input type="radio" name="{{ q.question }}" id="radios"
                                                    value="option4">{{ q.option4 }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            
                <footer>
                    <div class="total_que">
                    </div>
                    <button class="next_btn show" type="submit">پایان آزمون</button>
                </footer>
            </form>
        </section>
    </div>

    {% include 'includes/footer.html' %}
</body>
</html>